.back{float: left;width:100%;height: 450px;background: url(../images/back.jfif)}
.row{;width: 1000px;}
.back-msg{width: 1000px;height: 450px;margin:0 auto;margin-top: 50px}
.back-imgs{float: left; width: 300px;height: 400px;}
.back-year{float: left;width: 500px;height: 50px;margin-left: 50px;}
.back-dilates{float: left;width: 500px;height: 30px;margin-left: 50px;margin-top: 20px;}
.back-class{float: left;width: 500px;height: 30px;margin-left: 50px;margin-top: 10px;}
.back-buy{float: left;width: 200px;height: 100px;margin-top: 200px;margin-left: 50px;}
.back-mix{float: left;width:300px;height: 120px;margin-top: 145px;}

.dilates-row{width: 1200px;margin:0 auto;}

.tabs{float:left;width: 740px;height: 500px;}

.recommend{float: right;width: 350px;height:470px;}

.tuijian div{float: left;width: 99px;height: 180px;margin: 0 5px;margin-top: 20px;}
.tuijian div a{width:100%;height:5px;text-align: center}
.comment{float:left;width: 740px;height: 500px;}
.comment-handle{width: 740px;height: 30px;}
.comment-text{width: 740px;height: 500px;overflow-y:auto; overflow-x:auto; width:740px; height: 500px;}
.comment-text-img{float:left; width: 70px;height:70px; border-radius:100%;overflow: hidden;margin-left: 20px;margin-top: 15px;}
.comment-text-img img{width: 70px;height:70px;}
.comment-text-bag{float:left; width: 500px;height: 100px;margin-left: 15px;margin-top: 20px;}
.comment-user{float:left;width:740px;height:200px;}