<!DOCTYPE html>

<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
	<!--<![endif]-->

	<head>
		<title>蜗牛影院</title>

		<link rel="dns-prefetch" href="//p0.meituan.net" />
		<link rel="dns-prefetch" href="//p1.meituan.net" />
		<link rel="dns-prefetch" href="//ms0.meituan.net" />
		<link rel="dns-prefetch" href="//s0.meituan.net" />
		<link rel="dns-prefetch" href="//ms1.meituan.net" />
		<link rel="dns-prefetch" href="//analytics.meituan.com" />
		<link rel="dns-prefetch" href="//report.meituan.com" />
		<link rel="dns-prefetch" href="//frep.meituan.com" />

		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="cleartype" content="yes" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="renderer" content="webkit" />

		<meta name="HandheldFriendly" content="true" />
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<!--百度密匙-->
	    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=l6T8SsNHgIBVWc1ttunkAQw7yskdoVkz"></script>

		<script>
			"use strict";
			! function() {
				var i = 0 < arguments.length && void 0 !== arguments[0] ? arguments[0] : "_Owl_",
					n = window;
				n[i] || (n[i] = {
					isRunning: !1,
					isReady: !1,
					preTasks: [],
					dataSet: [],
					use: function(i, t) {
						this.isReady && n.Owl && n.Owl[i](t), this.preTasks.push({
							api: i,
							data: [t]
						})
					},
					add: function(i) {
						this.dataSet.push(i)
					},
					run: function() {
						var t = this;
						if(!this.isRunning) {
							this.isRunning = !0;
							var i = n.onerror;
							n.onerror = function() {
								this.isReady || this.add({
									type: "jsError",
									data: arguments
								}), i && i.apply(n, arguments)
							}.bind(this), (n.addEventListener || n.attachEvent)("error", function(i) {
								t.isReady || t.add({
									type: "resError",
									data: [i]
								})
							}, !0)
						}
					}
				}, n[i].run())
			}();
		</script>
		<script>
			cid = "c_93ziierd";
			ci = 59;
			window.system = {
				"cinemaImgs": [{
					"imgid": 0,
					"imgDesc": "首图",
					"url": "http://p1.meituan.net/deal/201208/22/1_0822151022.jpg"
				}]
			};

			window.openPlatform = '';
			window.openPlatformSub = '';
			window.$mtsiFlag = '0';
		</script>
		<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.0a548310.css" />
		<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/cinemas-cinema.c339c8d8.css" />
		<link rel="stylesheet" href="./css/index.css">
		<link href="css/header.css" rel="stylesheet" type="text/css">
		<link href="css/uikit.css" rel="stylesheet" type="text/css">
		<script src="js/uikit.js" type="text/javascript"></script>
		<script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/stat.88d57c80.js"></script>
		<script>
			if(window.devicePixelRatio >= 2) {
				document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>')
			}
		</script>
		
		<style>
			@font-face {
				font-family: stonefont;
				src: url('//vfile.meituan.net/colorstone/d2f4fcf7acdb0c7046ce78b9bf8ca00f3440.eot');
				src: url('//vfile.meituan.net/colorstone/d2f4fcf7acdb0c7046ce78b9bf8ca00f3440.eot?#iefix') format('embedded-opentype'), url('//vfile.meituan.net/colorstone/0ae7f4961979b1fef0cb1ef2a87fa8092276.woff') format('woff');
			}
			
			.stonefont {
				font-family: stonefont;
			}
		</style>
		<style type="text/css">
			body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
			#allmap{width:100%;height:500px;}
			p{margin-left:5px; font-size:14px;}
		</style>

	</head>

	<body>
		<div class="header-placeholder" style="height: 127px;">
			<div id="top">
				<div class="top_main">
					<ul class="uk-breadcrumb" style="float: right;margin-right: 300px;">
						<li><a href="">会员中心</a></li>
						<li><a href="login.html">登录</a></li>
						<li><a href="reg.html">注册</a></li>
						<li class="uk-active"><span>...</span></li>
					</ul>
				</div>
			</div>
			<header>
				<div class="logo" style="float: left">
					<h1><a href="#"><img src="./images/logo.png" alt="#"></a></h1>
				</div>
				<div class="nav" style="float: left">
					<div class="nav_item">
						<a href="index.html">
							<p>首页</p>
							<p>Home</p>
						</a>
					</div>
					<div class="nav_item">
						<a href="movie-list.html">
							<p>电影</p>
							<p>Movie</p>
						</a>
					</div>
					<div class="nav_item">
						<a href="cinemadetail.html">
							<p>影院</p>
							<p>Cinema</p>
						</a>
					</div>
					<div class="nav_item">
						<a href="#">
							<p>热点</p>
							<p>Hoot</p>
						</a>
					</div>
				</div>

				<div class="search">
					<form class="uk-search" data-uk-search>
						<input class="uk-search" type="search" placeholder="search...">
						<button class="uk-button uk-button-primary" type="button">搜索</button>
					</form>
				</div>
			</header>

		</div>
<div id="app">
		<div class="banner cinema-banner">
			<div class="wrapper clearfix">
				<div class="cinema-left">
					<div class="avatar-shadow">
						<img class="avatar" src="https://p1.meituan.net/deal/201208/22/1_0822151022.jpg@292w_292h_1e_1c">
					</div>
				</div>

				<div class="cinema-main clearfix">
					<div class="cinema-brief-container">
						<h3 class="name text-ellipsis" style="color: white">蜗牛影院</h3>
						<div class="address text-ellipsis">XXX商业广场4号楼4楼</div>
						<div class="telphone">电话：028-86253333</div>

						<div class="features-group">
							<div class="group-title">影院服务</div>

							<div class="feature">
								<span class="tag ">3D眼镜</span>
								<p class="desc text-ellipsis" title="免押金">免押金</p>
							</div>
							<div class="feature">
								<span class="tag ">儿童优惠</span>
								<p class="desc text-ellipsis" title="1.3米以下小朋友可享受无座免票">1.3米以下小朋友可享受无座免票</p>
							</div>
							<div class="feature">
								<span class="tag park-tag">可停车</span>
								<p class="desc text-ellipsis" title="目前免费，详请现场咨询影城">目前免费，详请现场咨询影城</p>
							</div>
						</div>
					</div>
				</div>

				<div class="cinema-map" id="allmap" style="height:200px;width: 200px;">
					<!--<span class="show-map"></span>-->
				</div>
			</div>
		</div>
		
		<div class="container" class="page-cinemas/cinema">
			<div class="movie-list-container" data-cinemaid="16399">
				<div class="movie-list">
					<!-- 影片海报展示 -->
					<div v-for="(item,idx) in movies" :class="{movie:true,active:flag==idx}" @click="choose(idx,item.filmId)" :data-index="idx" :data-movieid="item.filmId" data-bid="b_uup5nnq7" data-act="cinema-movie-click" 
						:data-val="{city_id:59, movie_id:item.filmId, cinema_id:16399}">
						<img :src="item.covers" alt="">
					</div>
					<span class="pointer"></span>
				</div>
				<!--<span class="scroll-prev scroll-btn"></span>
				<span class="scroll-next scroll-btn"></span>-->
			</div>

			<!-- 电影相关信息展示层 -->
			<div v-for="(item,idx) in movies" :class="[show, {active:flag==idx}]" :data-index="idx">
				<!-- 电影简介层 -->
				<div class="movie-info">
					<div>
						<h3 class="movie-name">{{item.filmName}}</h3>

						<span class="score sc">{{item.grage}}</span>

					</div>

					<div class="movie-desc">
						<div>
							<span class="key">时长 :</span>
							<span class="value">{{item.duration}}分钟</span>
						</div>
						<div>
							<span class="key">类型 :</span>
							<span class="value"> {{item.categoryString}} </span>
						</div>
						<div>
							<span class="key">主演 :</span>
							<span class="value"> {{item.stars}}</span>
						</div>
					</div>
				</div>

				<!-- 时间层 -->
				<div class="show-date">
					<span>观影时间 :</span>
					<span class="date-item active" data-index="0">{{nowTime}}</span>
					<!--<span class="date-item " data-index="1">明天 8月28</span>
					<span class="date-item " data-index="2">后天 8月29</span>-->
				</div>

				<!-- 当天排片展示层 -->
				<div class="plist-container active">

					<table class="plist">
						<thead>
							<tr>
								<th>放映时间</th>
								<th>语言版本</th>
								<th>放映厅</th>
								<th>售价（元）</th>
								<th>选座购票</th>
							</tr>
						</thead>

						<tbody>
							<!-- 排片信息展示 -->
							<tr class="" v-for="(item,index) in ss">
								<td>
									<span class="begin-time">{{item.startTime}}开始</span>
									<br />
									<span class="end-time">{{item.endTime}}散场</span>
								</td>
								<td>
									<span class="lang">{{item.film.language}}</span>
								</td>
								<td>
									<span class="hall">{{item.hall.hallName}}</span>
								</td>
								<td>
									<span class="sell-price"><span class="stonefont">{{item.price}}</span></span>
								</td>
								<td>
									<a href="#" class="buy-btn normal" data-tip="" data-act="show-click" data-bid="b_gvh3l8gg" data-val="{movie_id: 1215605, cinema_id:16399}">选座购票</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<!-- 这是电影展示分割线 :一部电影展示结束-->
			
			<!--地图放大 -->
			<div class="big-map-modal" style="display: none">
				<div class="close-map"></div>
				<div class="big-map"></div>
			</div>
		</div>
		<!-- 底部 -->
		<div class="footer">
			
		</div>
	</div>
	<script crossorigin="anonymous" src="//www.dpfile.com/app/owl/static/owl_1.7.11.js"></script>
		<script>
			Owl.start({
				project: 'com.sankuai.movie.fe.mywww',
				pageUrl: location.href.split('?')[0].replace(/\/\d+/g, '/:id'),
				devMode: false
			})
		</script>
		<!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-shim.bbad933f.js"></script><![endif]-->
		<!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-sham.d6ea26f4.js"></script><![endif]-->
		<script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.9fc677f9.js"></script>
		<script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/cinemas-cinema.72ce3542.js"></script>

		<!-- 后端获取数据 -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script crossorigin="anonymous">
			var vm = new Vue({
				el: '#app',
				data: {
					movies: [],
					flag: 0,
					show: "show-list",
					ss:[]
				},
				created() {
					axios.get("http://localhost:8081/film/getHot", {
						params: {
							currentPage: 1,
							pageSize: 8
						}
					}).then(res=>{
						console.log(res);
						this.movies = res.data.list;
						console.info(this.movies);
					}).then(res=>{
					return	axios.get("http://localhost:8081/screening/film/"+this.movies[0].filmId)
					}).then(res=>{
						console.log(res);
						this.ss=res.data.data;
						for(var i=0;i<this.ss.length;i++){
						 	this.ss[i].startTime=this.ss[i].startTime.substring(this.ss[i].startTime.indexOf(" "));
						 	this.ss[i].endTime=this.ss[i].endTime.substring(this.ss[i].endTime.indexOf(" "));
						}
					})
				},
				methods:{
					choose(idx,filmId){
						 this.flag=idx;
						 axios.get("http://localhost:8081/screening/film/"+filmId).then(res=>{
						 	this.ss=res.data.data;
						 	for(var i=0;i<this.ss.length;i++){
						 		this.ss[i].startTime=this.ss[i].startTime.substring(this.ss[i].startTime.indexOf(" "));
						 		this.ss[i].endTime=this.ss[i].endTime.substring(this.ss[i].endTime.indexOf(" "));
						 	}
						 })
					}
				},
				computed:{
					nowTime:function(){
						var date = new Date();
			            var month = date.getMonth() + 1;
			            var strDate = date.getDate();
			            if (month >= 1 && month <= 9) {
			                month = "0" + month;
			            }
			            if (strDate >= 0 && strDate <= 9) {
			                strDate = "0" + strDate;
			            }
			            var currentdate ="今天" + month + "月" + strDate;
			            return currentdate;
					}
				}		
			})
		</script>
	</body>
	<script type="text/javascript">
			// 百度地图API功能
			var map = new BMap.Map("allmap");
			var point = new BMap.Point(104.083945,30.661061);
			var marker = new BMap.Marker(point);  // 创建标注
			map.addOverlay(marker);              // 将标注添加到地图中
			map.centerAndZoom(point, 15);        //设置地图显示中心位置
			map.enableScrollWheelZoom(true);     //允许鼠标滚轮滑动缩放大小 
			var opts = {
			  width : 50,     // 信息窗口宽度
			  height: 70,     // 信息窗口高度
			  title : "阳光百货店" , // 信息窗口标题
			}
			var infoWindow = new BMap.InfoWindow("地址：成都市锦江区春熙路东段1号4楼", opts);  // 创建信息窗口对象 
			marker.addEventListener("click", function(){          
				map.openInfoWindow(infoWindow,point); //开启信息窗口
			});
	</script>

</html>