<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>迅影网</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="./css/index.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/components/slideshow.css" rel="stylesheet" type="text/css">
	<link href="css/components/dotnav.css" rel="stylesheet" type="text/css">
	<link href="css/components/slidenav.css" rel="stylesheet" type="text/css">
	<link href="css/components/search.min.css" rel="stylesheet" type="text/css">
	<link href="css/uikit.css" rel="stylesheet" type="text/css">
	<link href="css/header.css" rel="stylesheet" type="text/css">
	<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
	<script src="js/uikit.js" type="text/javascript"></script>
	<script src="js/components/grid.js" type="text/javascript"></script>
	<script src="js/components/slideshow.js" type="text/javascript"></script>
	<script src="js/components/slideshow-fx.js" type="text/javascript"></script>
	<script src="js/components/search.min.js"></script>
	<script src="js/index.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script>
		function skip (id) {
			alert(id)
			window.location.href="http://192.168.10.175/"+id+".html";
		}
	</script>

</head>
<body>
<div id="top">
	<div class="top_main">
		<ul class="uk-breadcrumb" style="float: right;margin-right: 300px;">
			<li><a href="userCenter1.html">会员中心</a></li>
			<li><a href="login.html">登录</a></li>
			<li><a href="reg.html">注册</a></li>
			<li class="uk-active"><span>...</span></li>
		</ul>
	</div>
</div>
<header>
	<div class="logo" style="float: left">
		<h1><a href="#"><img src="./images/logo.png" alt="#"></a></h1>
	</div>
	<div class="nav" style="float: left">
		<div class="nav_item">
			<a href="index.html">
				<p>首页</p>
				<p>Home</p>
			</a>
		</div>
		<div class="nav_item">
			<a href="movie-list.html">
				<p>电影</p>
				<p>Movie</p>
			</a>
		</div>
		<div class="nav_item">
			<a href="cinemadetail.html">
				<p>影院</p>
				<p>Cinema</p>
			</a>
		</div>
		<div class="nav_item">
			<a href="#">
				<p>热点</p>
				<p>Hoot</p>
			</a>
		</div>
		<div class="nav_item">
			<a href="#">
				<p>交流圈</p>
				<p>BBS</p>
			</a>
		</div>
	</div>

	<div class="search">
		<form class="uk-search" data-uk-search>
			<input class="uk-search" type="search" placeholder="search...">
			<button class="uk-button uk-button-primary" type="button">搜索</button>
		</form>
	</div>
</header>

	<div id="app">
	<!--轮播-->
		<div class="uk-slidenav-position" data-uk-slideshow="{animation: 'swipe'}" >
			<!--img-->
			<ul class="uk-slideshow" data-uk-slideshow="{autoplay:true}">
				<li><img src="images/0069qWFHgw1f8crdp8cbrj30s20cin1g.jpg" width="1000" height="250" alt=""></li>
				<li><img src="images/1.jpg" width="1000" height="250" alt=""></li>
				<li><img src="images/2.jpg" width="1000" height="250" alt=""></li>
				<li><img src="images/5.jpg" width="1000" height="250" alt=""></li>
				<li><img src="images/4.jpg" width="1000" height="250" alt=""></li>
			</ul>
			<!--左右切换-->
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous" style="color: rgba(255,255,255,0.4)"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next" style="color: rgba(255,255,255,0.4)"></a>

			<!--按钮-->
			<ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
				<li data-uk-slideshow-item="0"><a href="#">Item 1</a></li>
				<li data-uk-slideshow-item="1"><a href="#">Item 2</a></li>
				<li data-uk-slideshow-item="2"><a href="#">Item 3</a></li>
				<li data-uk-slideshow-item="3"><a href="#">Item 4</a></li>
				<li data-uk-slideshow-item="4"><a href="#">Item 5</a></li>
			</ul>
		</div>
	<br>
<div class="box-line">
		<span>推荐影片</span>
	</div>
	<div class="menu">
		<div class="menu_item">
			<div v-for="film in randomMovie" class="menu_item_img">
				<a href="#">
					<img :src="film.covers" alt="推荐">
					<img src="./images/0069qWFHgw1f7iz0778hbj30d707n757.jpg" alt="图片">
				</a>
				<!--<span class="menu_item_img_title">【1080P】&gt;;无间道-无间风云再起>第一季12集全</span>-->
			</div>
		</div>
	</div>
<main>
		<div class="main">
			<div class="main_title">
				<h3>正在热映</h3>
				<a href="#">更多&gt;&gt;</a>
			</div>
			<div class="main_list">
				<div class="main_item" v-for="film in nowMovie">
					<a :href="'javascript:skip('+(film.filmId)+')'">
						<img class="main_item_img_tu" :src="film.covers" alt="">
						<img class="main_item_ico" src="./images/play-icon.png" alt="">
						<div class="main_item_title">
							<h1>
								<a href="#" target="_blank" >{{film.filmName}}</a>
								<em> - {{film.grage}}分</em>
							</h1>
							<div class="main_item_title_lei">
								类型：
								<a class="movietype" target="_blank" href="#">动作</a>
								<a class="movietype" target="_blank" href="#">科幻</a>
								<a class="movietype" target="_blank" href="#">恐怖</a>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="right_title">
				<h3>热门电影</h3>
			</div>
			<div class="list-group" v-for="(film,index) in hootMovieItem">
				<a class="list-group-item" title="蜗牛下载" target="_blank" :href="'javascript:skip('+(film.filmId)+')'">
					<span :class=" index<3 ? 'square-item-red' : 'square-item-blue'">{{index+1}}</span>
					{{film.filmName}}
				</a>
			</div>
			<div class="right_title2">
				<h3>本周精选</h3>
			</div>
			<div class="list-group">
				<a class="list-group-item" v-for="(film,index) in weekRec" title="蜗牛学渣下载" target="_blank" :href="'javascript:skip('+(film.filmId)+')'">
					<span :class=" index<3 ? 'square-item-red' : 'square-item-blue'">{{index+1}}</span>
					{{film.filmName}}
				</a>
			</div>
		</div>
	</main>
		<div class="main2_title">
			<h3>&nbsp;&nbsp;即将上映</h3>
			<a href="#">更多&gt;&gt;</a>
		</div>
	<div class="main2">
		<div class="main2_list">
			<div v-for="(film,index) in newMovie" class="main2_item">
			<div class="main2_item_img">
				<a :href="'javascript:skip('+(film.filmId)+')'">
					<img :src="film.covers" alt=""></a>
				<span class="gq">超清</span>
				<div class="main2_item_title">
					<h1>
						<a href="#" target="_blank" :title="film.filmName" v-text="film.filmName"></a>
						<em> - {{film.grage}}分</em>
					</h1>
					<div class="main2_item_title_lei">
						类型：
						<span v-for="s in film.typenames"><a class="movietype3"  target="_blank" href="#">{{s}}</a></span> 
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>	
<div class="main2_add"></div>
	<div class="main3">
		<div class="main3_title">
			<h3>热播电影</h3>
			<a href="">更多&gt;&gt;</a>
		</div>
		<div v-for="film in hootMovieItem" class="main3_item">
			<div class="main3_item_img">
				<a :href="'javascript:skip('+(film.filmId)+')'"><img :src="film.covers" alt=""></a>
				<span class="lg">蓝光</span>
				<div class="main3_item_title">
					<h1>
						<a href="#" target="_blank" v-text="film.filmName" :title="film.filmName"></a>
						<em> - {{film.grage}}分</em>
					</h1>
					<div class="main3_item_title_lei">
						类型：
						<span v-for="s in film.typenames"><a class="movietype3"  target="_blank" href="#">{{s}}</a></span> 
					</div>
				</div>
			</div>
		</div>			
	</div>
	<div class="cl"></div>
	<!--<a class="genduo" href="#">更多精彩电影&gt;&gt;</a>-->
	<footer>
		<div class="foot">
			<p>

			<br>

			</p>
			<p class="friend-link">
				友情链接：
				<a target="_blank" href="http://www.id97.com/">某某电影网</a>
			</p>
			<em>
				♥
				<a href="http://www.xunyingwang.com/">蜗牛影网</a>
				· VERSION: 1.1.1 · 1.1ms
			</em>
		</div>
	</footer>
	</div>
</body>
<script>
	var app=new Vue({
		el:"#app",
		data:{
			// 右边热映
			hootMovieItem:[],
			nowMovie:[],
			newMovie:[],
			randomMovie:[],
			// 本周精选
			weekRec:[]
		},
		methods:{

		}
	});
	$(function () {
		
		axios.get("http://localhost:8081/film/getHot?pageSize=10")
				.then(function (res) {
					this.app.hootMovieItem=res.data.list
				});
		axios.get("http://localhost:8081/film/getRandom?num=10")
				.then(function (res) {
					this.app.weekRec=res.data.data
				});
		axios.get("http://localhost:8081/film/getRandom?num=8")
				.then(function (res) {
					this.app.nowMovie=res.data.data
				});
		
		axios.get("http://localhost:8081/film/getRandom?num=4")
				.then(function (res) {
					this.app.randomMovie=res.data.data
				});
		
		axios.get("http://localhost:8081/film/getNew?pageSize=5")
				.then(function (res) {
					this.app.newMovie=res.data.list
				
				});
	})
	


</script>
</html>