
<!DOCTYPE html>
<head>
  <title>搜索结果_1- 猫眼电影 - 一网打尽好电影</title>
  
  <link rel="dns-prefetch" href="//p0.meituan.net"  />
  <link rel="dns-prefetch" href="//p1.meituan.net"  />
  <link rel="dns-prefetch" href="//ms0.meituan.net" />
  <link rel="dns-prefetch" href="//s0.meituan.net" />
  <link rel="dns-prefetch" href="//ms1.meituan.net" />
  <link rel="dns-prefetch" href="//analytics.meituan.com" />
  <link rel="dns-prefetch" href="//report.meituan.com" />
  <link rel="dns-prefetch" href="//frep.meituan.com" />

  
  <meta charset="utf-8">
  <meta name="keywords" content="电影,电视剧,票房,美剧,猫眼电影,电影排行榜,电影票,经典电影,在线观看">
  <meta name="description" content="国内观众优选的在线购票平台，用户流行的观影决策平台。">
  <meta http-equiv="cleartype" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit" />

  <meta name="HandheldFriendly" content="true" />
  <meta name="format-detection" content="email=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <script>"use strict";!function(){var i=0<arguments.length&&void 0!==arguments[0]?arguments[0]:"_Owl_",n=window;n[i]||(n[i]={isRunning:!1,isReady:!1,preTasks:[],dataSet:[],use:function(i,t){this.isReady&&n.Owl&&n.Owl[i](t),this.preTasks.push({api:i,data:[t]})},add:function(i){this.dataSet.push(i)},run:function(){var t=this;if(!this.isRunning){this.isRunning=!0;var i=n.onerror;n.onerror=function(){this.isReady||this.add({type:"jsError",data:arguments}),i&&i.apply(n,arguments)}.bind(this),(n.addEventListener||n.attachEvent)("error",function(i){t.isReady||t.add({type:"resError",data:[i]})},!0)}}},n[i].run())}();</script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <script src="js/axios.js"></script>
  <script>
  cid = "c_84vv9qa";
  ci = 59;
    window.system = {};

  window.openPlatform = '';
  window.openPlatformSub = '';
  window.$mtsiFlag = '0';

  </script>
  <link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.0a548310.css"/>
<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/query-index.8f264800.css"/>
  <script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/stat.88d57c80.js"></script>
  <script>if(window.devicePixelRatio >= 2) { document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>') }</script>
  <style>
    @font-face {
      font-family: stonefont;
      src: url('//vfile.meituan.net/colorstone/2ecd2fdef5da9e021562d5e96d5350ac3416.eot');
      src: url('//vfile.meituan.net/colorstone/2ecd2fdef5da9e021562d5e96d5350ac3416.eot?#iefix') format('embedded-opentype'),
           url('//vfile.meituan.net/colorstone/7aa792ff63ba99117cd3470019634a6e2272.woff') format('woff');
    }

    .stonefont {
      font-family: stonefont;
    }
  </style>
</head>
<body>


<!-- <div class="header">
  <div class="header-inner">
        <a href="/" class="" data-act="icon-click"></a>



        <div class="nav">
            <ul class="navbar">
                <li><a href="/" data-act="home-click"  >首页</a></li>
                <li><a href="/films" data-act="movies-click" >电影</a></li>
                <li><a href="/cinemas" data-act="cinemas-click" >影院</a></li> 
                <li><a href="http://www.gewara.com">演出</a></li>
                
                <li><a href="/board" data-act="board-click" >榜单</a></li>
                <li><a href="/news" data-act="hotNews-click" >热点</a></li>
                <li><a href="/edimall"  >商城</a></li>
            </ul>
        </div>

        <div class="user-info">
            <div class="user-avatar J-login">
              <img src="https://p0.meituan.net/movie/7dd82a16316ab32c8359debdb04396ef2897.png">
              <span class="caret"></span>
              <ul class="user-menu">
                <li><a href="javascript:void 0">登录</a></li>
              </ul>
            </div>
        </div>

        <form action="/query" target="_blank" class="search-form" >
            <input name="kw" class="search" type="search" maxlength="32" placeholder="找影视剧、影人、影院" autocomplete="off">
            <input class="submit" type="submit" value="">
        </form>

        <div class="app-download">
          <a href="/app" target="_blank">
            <span class="iphone-icon"></span>
            <span class="apptext">APP下载</span>
            <span class="caret"></span>
            <div class="download-icon">
                <p class="down-title">扫码下载APP</p>
                <p class='down-content'>选座更优惠</p>
            </div>
          </a>
        </div>
    
  </div>
</div> -->
<!-- <div class="header-placeholder"></div> -->

<div class="search-box" style="background-color: #01AAED;">
  <form data-state-val="{kw:'1'}" class="search-form" data-actform="query-search-click">
    <input id="serchText" class="kw" type="text" name="kw" maxlength="32" value="" placeholder="找影视剧、影人、影院" autocomplete="off">
    <a class="submit" href="javascript:serch(1)" ></a>
  </form>
</div>
<div class="subnav" style="background-color: #01AAED;">
  <ul class="navbar" id="serchTitle">
    <!-- <li>
		<!-- 修改style：color=black -->
      <!-- <a style="color: black;" data-act="subnav-click" data-val="{subnavClick:1}"
          class="active" href="javascript:changeType(1)"
      >影视剧（{{total}}）</a>
    </li> --> 
	<li>
	  <a id="type1" name="serchTypes" style="color: black;" data-act="subnav-click" data-val="{subnavClick:1}"
	    class="active"  href="javascript:changeType(1)"
	  >影视剧</a>
	</li>
    <li>
      <a id="type2" name="serchTypes" style="color: black;" data-act="subnav-click" data-val="{subnavClick:1}"
          href="javascript:changeType(2)"
      >影人</a>
    </li>
    <li>
      <a id="type3" name="serchTypes" style="color: black;" data-act="subnav-click" data-val="{subnavClick:2}"
          href="javascript:changeType(3)"
      >影院</a>
    </li>
  </ul>
</div>


    <div class="container" id="app" class="page-query/index" >
<div id="movielist"class="search-result-box">
<div class="movie-list">
   
	<span v-for="item in list">
	<dd>
		<div class="movie-item">
		  <a href="/films/246300" target="_blank" data-act="movie-click" >
		  <div class="movie-poster">
			<img class="poster-default" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" />
			<img v-bind:data-src="item.covers" />
		  </div>
		  </a>
		  <div class="movie-ver"></div>
		</div>
		<div class="channel-detail movie-item-title" title="澳门皇家电影">
		  <a href="/films/246300" target="_blank" v-text="item.filmName" data-act="movies-click" data-val="{movieId:246300}"></a>
		  <div class="movie-item-pub">主演：{{item.stars}}</div>
		</div>
	<div class="movie-item-subtitle"></div>
	<div class="absolute-info">
		<div class="channel-detail channel-detail-orange"><span v-text="item.peopleNum" class="stonefont"></span>人观看</div>

	  <div v-text="item.categoryString" class="movie-item-cat"></div>
	  <div class="movie-item-pub">{{item.releseDate}}上映</div>
	</div>
	</span>
</div>

<div class="pager" id="pager" >
		<ul class="list-pager">
			<li  v-if="pageInfo.total>0">
				<a class="page_1" :href="'javascript:serch('+1+')'"
				 style="cursor: default"
				>首页</a>
			</li>
			<li  v-if="pageInfo.pageNum>0">
				<a class="page_1" :href="'javascript:serch('+(pageInfo.pageNum-1)+')'"
				 style="cursor: default"
				>上一页</a>
			</li>
			
			
			<li :class="{active:i==pageInfo.pageNum}" v-for="i in pageInfo.navigatepageNums">
				<a class="page_1" :href="'javascript:serch('+i+')'"
				 style="cursor: default"
				> {{i}} </a>
			</li>
			
		
			
			<li  v-if="pageInfo.pageNum<pageInfo.pages">
				<a class="page_1" :href="'javascript:serch('+(pageInfo.pageNum+1)+')'"
				 style="cursor: default"
				>下一页</a>
			</li>
			<li  v-if="pageInfo.total>0">
				<a class="page_1" :href="'javascript:serch('+pageInfo.pages+')'"
				 style="cursor: default"
				>尾页</a>
			</li>
		</ul>
    </div>
</div>
    </div>



    <script crossorigin="anonymous" src="//www.dpfile.com/app/owl/static/owl_1.7.11.js"></script>
    <script>
      Owl.start({
        project: 'com.sankuai.movie.fe.mywww', 
        pageUrl: location.href.split('?')[0].replace(/\/\d+/g, '/:id'),
        devMode: false
      })
    </script>
    <script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.9fc677f9.js"></script>
<script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/query-index.96204c20.js"></script>
<script>
	
	function changeType(i){
		for(var n=1;n<=3;n++){
			$("#type"+n).removeClass("active");
		}
		$("#type"+i).addClass("active");
		serchType=i;
// 		var s= document.getElementsByName("serchTypes");
// 		for(var e in s){
// 			alert(e)
// 		}
	}
	
	condition="";
	filmName="";
	stars="";
	var serchType= 1;//指定搜索类型,1:影片名,2:主演
	//初始化方法
	window.onload=function(){
		serch(1);
	}
	
	var films= new Vue({
		el:"#movielist",
		data:{
			list:[],
			pageInfo:""
		}
	});
	
	var pageInfo=new Vue({
		el:"#serchTitle",
		data:{
			total:""
		}
	})
	
// 	function conditionSerch(){
// 		condition=c;
// 		serch(1);
// 	}
	
	
	

	//分页查询,index:页码
	function serch(index){
		filmName="";
		stars="";
		$("#type1").text("电视剧");
		$("#type2").text("影院");
		$("#type3").text("影片");
		var text=$("#serchText").val();
		if(serchType==1){
			filmName=text;
		}else if(serchType==2){
			stars=text;
		}
		// alert(filmName+"-----"+stars);
		if(condition==null||condition.trim()==''){
			axios({
				url:"http://localhost:8081//film/asyncList",
				method:'get',
				params:{
					currentPage:index,
					filmName:filmName,
					stars:stars,
					pageSize:8
				}
			}).then((data)=>{
					this.films.list=data.data.list;
					this.films.pageInfo=data.data;
					this.pageInfo.total=data.data.total
					var hold=$("#type"+serchType).text();
					//alert(hold)
					
					$("#type"+serchType).text(hold+" ("+data.data.total+")")
					//alert(this.pager.pageInfo.pageNum);
				}
			)
		}
// 		}else{
// 			axios({
// 				url:"http://localhost:8081//film/asyncList",
// 				method:'get',
// 				params:{
// 					currentPage:index,
// 					pageSize:8,
// 					key:condition
// 				}
// 			}).then((data)=>{
// 					this.films.list=data.data.list;
// 					this.films.pageInfo=data.data;
// 					this.pageInfo.total=data.data.total
// 				}
// 			)
// 		}
	}
	
	

	
</script>
</body>
</html>
